@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@font-face {
  font-family: "Druk Wide";
  src: url("https://assets.website-files.com/62deb76292f6783ebabb491e/62deba218550ebf0522d2feb_Druk%20Wide%20Bold.otf"); }

@font-face {
  font-family: "Druk Text";
  src: url("../fonts/Druk_Text_Family/DrukText-Medium-Trial.otf"); }

html {
  --c0:rgb(188,215,248);
  --c1:rgb(126,166,215);
  --c2:rgb(44,119,191);
  --c3:rgb(27,96,165);
  --c4:rgb(19,86,151);
  --c5:rgb(18,78,143);
  --c6:rgb(9,56,101);
  --c7:rgb(5,43,79);
  --c8:rgb(1,32,62);
  --c9:rgb(0,27,51);
  --c10:rgb(0,16,31);
  --c99:rgb(255,255,255);
  background: var(--c10); }

* {
  scroll-behavior: smooth;
  box-sizing: border-box; }

.landscape {
  display: block;
  background: var(--c1);
  height: 75vh;
  overflow: hidden;
  position: relative; }
  .landscape__layer {
    height: 75vh;
    max-height: 75vh;
    left: 0;
    position: absolute;
    top: 0;
    min-width: 100vw;
    width: 100vw;
    max-width: 100vw;
    margin-bottom: -0.1rem;
    transform: translateY(calc(var(--scrollPos, 0) * var(--offset, 0))); }
    @media (prefers-reduced-motion: reduce) {
      .landscape__layer {
        transform: translateY(0); } }
  .landscape__image {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-height: 100%;
    max-width: 300%;
    min-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    width: 2500px; }
    .landscape__image svg {
      display: block;
      height: auto;
      max-width: 100%; }

body {
  background: var(--c10);
  color: #fff;
  min-height: 200vh;
  margin: 0; }

.wrap {
  margin: 5rem auto;
  max-width: 70rem;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative; }

a {
  color: inherit;
  text-decoration-color: var(--c6); }

.box h1 {
  font-weight: normal;
  color: black;
  font-size: 1.6vw;
  margin: 0; }

a {
  font-size: 1vw;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(135deg, #2babd9 0%, #0082c8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; }

html, body {
  font-family: "Montserrat", Arial;
  height: 100%;
  width: 100%; }

.card {
  font-family: 'Koulen', cursive;
  position: absolute;
  background-color: #F8F8F8;
  border-radius: 1.5vw;
  min-width: 18vw;
  max-width: 18vw;
  min-height: 10vw;
  max-height: 12vw;
  padding: 1.8vw;
  top: 50vh;
  left: 18vw;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1), 0 32px 32px rgba(0, 0, 0, 0.15), 0 64px 64px rgba(0, 0, 0, 0.15); }

.note::after {
  content: '';
  width: 100%;
  height: 0.105vw;
  border-radius: 999px;
  background-color: #AFAFAF;
  position: absolute;
  top: -0.8vw;
  left: 0; }

.note {
  font-size: 0.8em;
  color: #8A8A8A;
  position: relative;
  margin-top: 1.7vw; }

.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em; }

.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold; }

.mainText {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 20%;
  border-radius: 1.5em; }

.mainText h1 {
  font-family: 'Koulen', cursive;
  margin-left: 0.75em;
  color: white;
  font-size: 3.5vw; }

.mainText p {
  font-family: "Druk text", sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.05vw;
  word-spacing: 0.15vw;
  line-height: 1.7vw;
  margin-left: 1vw; }

nav {
  width: 100%;
  z-index: 200;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  font-family: 'Koulen', cursive;
  -webkit-background-filter: blur(5vw); }

.logo {
  color: #f2f2f2;
  letter-spacing: 0.4vw;
  font-size: 1.4vw; }

nav ul {
  height: 3vw;
  width: 50vw;
  align-items: right;
  list-style-type: none; }

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%; }

.nav-links li {
  list-style: none; }
  .nav-links li ::marker {
    display: none; }

.nav-links a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1vw;
  letter-spacing: 0.2vw;
  font-weight: bold;
  transition-duration: 500ms;
  background: rgba(0, 0, 0, 0); }

.nav-links a:hover {
  letter-spacing: 0.25vw;
  padding: 0.3vw;
  background-color: #666666;
  color: #ffffff;
  border-radius: 0.6vw 0.6vw 0.6vw 0.6vw; }

@keyframes slide {
  0% {
    top: 0; }
  33% {
    top: -1.2em; }
  66% {
    top: -2.4em; } }

.burger {
  position: relative;
  display: flex;
  height: 2.604vw;
  width: 2.604vw;
  right: -90%;
  margin: 0; }

.burger-part {
  position: absolute;
  width: 2.5vw;
  height: 0.4vw;
  margin: 0.4vw;
  margin-top: 0.4vw;
  background: #FFFFFF;
  border-radius: 0.15vw; }

#Top {
  left: 0vw;
  top: 0vw; }

#Middle {
  left: 0vw;
  top: 0.82vw; }

#Bottom {
  left: 0vw;
  top: 1.64vw; }

#Top:--clicked {
  left: 0vw;
  top: 0.82vw;
  transform: rotate(-45deg); }

#Middle:--clicked {
  left: 0vw;
  top: 0.82vw;
  opacity: 0; }

#Bottom:--clicked {
  left: 0vw;
  top: 0.82vw;
  transform: rotate(45deg); }
